html,
body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #cbccd1;
}

button {
  background-color: #00ff26;
  border: 1px solid black;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 1px;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
}

button:hover {
  background-color: #7dff90;
}

button:active {
  background-color: #4aed62;
}

nav {
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

.external-link {
  color: #00ff26;
  background-color: #909092;
}

.external-link:hover {
  color: #00ff26;
  background-color: #5a5a5b;
}

* {
  box-sizing: border-box;
}

.page-container {
  position: relative;
  padding: 10px;
  padding-bottom: 2.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
