.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navContainer {
  padding: 15px;
}

.navLink {
  padding: 5px;
  border: 1px solid black;
  margin: 3px;
}

.navLink:hover {
  background-color: #d64086;
}

.navLink:active {
  background-color: #e889b5;
}

.soldNotice {
  background-color: #e889b5;
  padding: 4px;
  max-width: 300px;
  margin: 5px;
}

.cartThumbnail {
  border: 1px solid black;
  padding: 5px;
  margin: 3px;
}

.cartThumbnail:hover {
  background-color: #d64086;
}

.cartThumbnail:active {
  background-color: #e889b5;
}
